*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  
 
  /*CSS converter start*/
  .rem_converter {
    padding: 20px;
    margin: 10px;
    width: auto;
    height: auto;
    max-width: 50vh;
    max-height: 50vh;
    border-radius: 12px;
    background: #64a19d;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #f7e5f5;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  }

  .mt {
    margin-top: 1.5rem !important;
  }

  .btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    width: auto;
    height: auto;
    max-width: 80vh;
    max-height: 80vh;
    font-size: 60%;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
    background: #426967;
    color: #f7e5f5;
    font-size: 1.1rem;
    border-radius: 12px;
    cursor: pointer;
  }

  .btn:hover {
    color: #1c2e2d;
  }

  .input_style {
    background: #f7e5f5;
    color: #64a19d;
    max-width: 100%;
    border-radius: 6px;
    border-color: #64a19d;
  }



  /*CSS converter stops*/

 